body, html {
    background: #dae8e9 url(../img/bg.jpg) no-repeat 50% 0;
    text-align: center;
}
.content {
    margin: 10px auto;
    background: #ffffff;
    width: 800px;
    min-height: 400px;
    text-align: left;
}
.title {
    margin: 0;
    width: 100%;
    background: #4f525c;
}
.title h3 {
    color: #fff;
    font: 18px;
    margin-left:5px;
}
.order_form_error_field {
    margin-left: -20px;
    color: red;
    font-weight: bold;
}
.stock_field{
    border:none;
    background: #FFF;
}
