<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" href="{% static "css/style.css" %}" rel="stylesheet">
     <link rel="stylesheet" href="{% static "css/ui-lightness/jquery-ui-1.10.3.custom.min.css" %}">

    {% block extra_style %}{% endblock %}
{#    <script type="text/javascript" src="{% static "js/select.js" %}"></script>#}
    <script src="{% static "js/jquery-1.9.1.js"  %}"></script>
    <script src="{% static "js/jquery-ui-1.10.3.custom.min.js"  %}"></script>
    {% block extra_js %}{% endblock %}
    <title>{% block title %}Добро пожаловать на сайт Приема заказов{% endblock %}</title>

</head>
<body>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>