{% extends 'base.html' %}
{% load staticfiles %}
{% block extra_js %}
        <script src="{% static "js/ajax.js" %}"></script>
{% endblock %}
{% block title%}Заполнение заказа{% endblock %}
{% block content%}
    <div class="title">
        <h3>Добавьте товары в заказ:</h3>
    </div>
    <div>
        <form name="order" method="post" id="order_id" onsubmit="return false;" >{% csrf_token %}
        <table>
            <tr>
                <th>
                    Продукт
                </th>
                <th>
                    Партия
                </th>
                <th>
                    Количество
                </th>
                <th>
                    {{ add_order_formset.management_form }}
                </th>
            </tr>
            {% for form in add_order_formset %}
            <tr>
                <td>{{ form.product }} <span class="order_form_error_field" {% if not form.product.errors %}style="display: None" {% endif %}>!</span></td>
                <td>{{ form.party }} <span class="order_form_error_field" {% if not form.party.errors %}style="display: None" {% endif %}>!</span></td>
                <td>{{ form.quantity }}<span id="quantity_avail_err_{{ forloop.counter0 }}" class="order_form_error_field" {% if not form.quantity.errors %}style="display: None" {% endif %}>!</span></td>
                <td>{{ form.stock_quantity }}</td>
            </tr>
        {% endfor %}
        </table>

        </form>
        <input type="button" value="Отправить" onclick="document.forms['order'].submit();">
    </div>
    <div id="log">

    </div>
{% endblock %}