{% extends 'base.html' %}
{% block title%}Спасибо!{% endblock %}
{% block content%}
    <div class="title">
        <h3>Спасибо!</h3>
    </div>
    <div>
        <a href="{% url 'add_order' %}"> Оформить ещё один заказ! </a>
    </div>

{% endblock %}
    