<input type="text"{{ label_flat_attr|safe }}>
<input type="hidden" {{ id_flat_attr|safe }}>
<script>
$(document).ready(
function() {
		function get_dop_filter(filter_tag) {
            if (filter_tag) {
                return $("#"+filter_tag).val();
            }
            else {
                return ''
            }
        }
        var label_tag_name= "{{ label_tag_id }}";
        var value_tag_name= "{{ id_tag_id }}";
        var label_tag= $("#"+label_tag_name);
        var value_tag= $("#"+value_tag_name);

        var url = "{{ url }}";
        var extra_filter_tag_name = "{{ extra_filter_tag }}";
        var max_rows = {{ max_rows }};
        var min_length = {{ min_length }};
        // clear fields if change extra filter tag
        $("#"+extra_filter_tag_name).change(function(){
            value_tag.val('');
            label_tag.val('');
        });
        // set autocomplete
		label_tag.autocomplete({
            source: function( request, response ) {
            value_tag.val('');
            $.ajax({
                  url: url,
                  dataType: "json",
                  data: {
                    extra: get_dop_filter(extra_filter_tag_name),
                    max_rows: max_rows,
                    term: request.term
                  },
                  success: function( data ) {
                    response(data);
                  }
                });
              },
			minLength: min_length,
            focus: function( event, ui ) {
                label_tag.val( ui.item.label );
                return false;
            },
			select: function( event, ui ) {
                label_tag.val( ui.item.label );
                value_tag.val( ui.item.value );
                fill_party(this, ui.item.value);
                get_quantity(this, ui.item.value);
                return false;
            }
		});
	}
);
</script>